<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <!-- Original Bootstrap 3.x -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap-rtl.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/movie.css">
    <link rel="stylesheet" href="css/download_tile.css">
    <script type="text/javascript" src="mustache.js"></script>

    <script src="owlcarousel/owl.carousel.min.js"></script>

</head>
<body>
<div class="container-fluid" id="nav-container" >
    <div class="row">
        <div class="search-logo-container margin-top-bottom-20">
            <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-2 text-align-right" >

                <a href="#"><img class="search_img" src="images/pic.png"></a>&nbsp
                <a id="bell" href="#"><i class="fa fa-bell-o"></i></a>
            </div>

            <div class="col-md-4 col-md-offset-6 col-sm-3 col-sm-offset-0 input-group margin-top-10" >
                <input id="email" type="text" class="form-control" name="email"  placeholder="جستجوی فیلم، سریال، بازیگر، کارگردان و ...">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default navbar-static-top margin-bottom-zero"  role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">آخرین ها
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">فیلم ها
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">سریال</a></li>
                        <li><a href="#">انیمیشن</a></li>
                        <li><a href="#">مستند</a></li>
                        <li><a href="#">مجموعه ها</a></li>
                        <li><a href="#">انیمه</a></li>
                        <li><a href="#">دوبله</a></li>
                        <li><a href="#"> زیک زاک</a></li>
                        <li><a href="#"> باکس آفیس</a></li>
                        <li><a href="#"> آنونس</a></li>
                        <li><a href="#">برترین ها</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <span style="float: right; font-size: 14px">آپلود کن!</span>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-md-1">
        </div>
        <form method="post" enctype="multipart/form-data" action="/movies/create">
            <div class="col-md-7 col-md-offset-1">
                <div class="down">
                    <div class="don">نام فیلم</div>
                    <div class="don"><input name="title" class="fillings"></div>
                </div>
                <br>
                <div class="down">
                    <div class="don">زمان فیلم</div>
                    <div class="don"><input name="length" class="fillings"></div>
                </div>
                <br>
                <div class="down">
                    <div class="don">سال انتشار</div>
                    <div class="don"><input name="year" class="fillings"></div>
                </div>
                <br>
                <div class="down">
                    <div class="don">کشورها</div>
                    <div class="don"><input name="country" class="fillings"></div>
                </div>
                <br>
                <div class="down">
                    <div class="don">توضیحات</div>
                    <div class="don"><input name="description" class="fillings"></div>
                </div>
                <br>
                <div class="down">
                    <div class="don">کارگردان</div>
                    <div class="don"><input name="director" class="fillings"></div>
                </div>
                <br>
                <br>
                <div class="down">
                    <div class="don">انتخاب عکس کاور فیلم</div>
                    <input type="file" name="poster_file" accept="image/*">
                </div>
                <br>
                <div class="don"><button type="submit" class="mobint">افزودن</button><br><br></div>

            </div>
        </form>
    </div>

</div>

<div class="navbar navbar-default navbar-bottom" id="fyfyu">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-offset-2" >
                <ul class="nav navbar-nav">
                    <li><a href="#"> درخواست فیلم</a></li>
                    <li><a href="#"> اشتراک ویژه</a></li>
                    <li><a href="#">  باکس آفیس</a></li>
                    <li><a href="#">نرم افزارهای مورد نیاز </a></li>
                    <li><a href="#">پرسش های متداول </a></li>
                    <li><a href="#">درباره ما </a></li>
                    <li><a href="#">تماس با ما </a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="fgfg">
            <div class="col-md-4 col-md-offset-1">
                <div class="context">
                    محتوای این سایت مطابق با فرهنگ
                    <br>
                    خانواده های ایرانی می باشد
                </div>
            </div>
            <div class="col-md-5">
                <div id="yuy">
                    مجموعه دیتابیس فیلم امیرکبیر، با هدف ایجاد یک تجربه مشترک آموزشی و تفریحی برای دانشجویان دانشگاه صنعتی امیرکبیر ایجاد شده و هیچگونه استفاده تجاری ندارد. در صورتی که از این سایت و امکانات آن لذت می برید آن را به دوستان خود هم معرفی کنید.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2" id="ghgu">
                <a href="#" class="fa fa-google-plus socials"></a>
                <a href="#" class="fa fa-instagram socials"></a>
                <a href="#" class="fa fa-telegram socials"></a>
                <a href="#" class="fa fa-twitter socials"></a>
            </div>
        </div>
        <div class="row" id="tyty">
            <hr id="rtrt">
            <div id="tuo">
                تمامی حقوق این وب سایت متعلق به دیتابیس فیلم امیرکبیر می باشد
            </div>
        </div>
    </div>
</div>

</body>
</script>
</html>
